<html>
    <head>
        <title>Amanda's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Amanda's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.12.2019, 12:14</p>
            <h2><a href="">My first post</a></h2>   
            <p>some text here</p>
        </div>

        <div>
            <p>published: 14.12.2019, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>some text here</p>   
        </div>
        
    </body>
</html>